
@{
    ViewBag.Title = "Index";
}

<h2>Transflower Store</h2>
<hr />
<a href="/home/index">Home</a> | <a href="/home/aboutus">About us</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Flowers</a>
<hr />
<h3> Flowers for Sale</h3>

<ol>
    <li> <a href="/product/details/1">Gerbera</a></li>
    <li> <a href="/product/details/2">Rose</a></li>
    <li> <a href="/product/details/3">Lotus</a></li>
    <li> <a href="/product/details/4">Jasmine</a></li>
    <li> <a href="/product/details/5">Orchid</a></li>
   
     
</ol>




