
@{
    ViewBag.Title = "Index";
}

<h2>About Transflower</h2>
<hr />
<<a href="/home/index">Home</a> | <a href="/home/aboutus">About us</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Flowers</a>
<hr />

<p>Doing ordinary things extra ordinarily</p>
<p>Teaching and learning is  our passion</p>
<ol>
    <li>Corporate Trainings</li>
    <li>Boot camps</li>
    <li>Online Workshops</li>
    <li>Finishing School Trainings</li>
</ol>

