
@{
    ViewBag.Title = "Index";
}

<h2>About Transflower</h2>
<hr />
<a href="/home/index">Home</a> | <a href="/home/aboutus">About us</a> | <a href="/home/contact">Contact</a> | <a href="/product/index">Flowers</a>
<hr />

<p> Mentor: Ravi Tambade</p>
<p> Email: ravi.tambade@transflower.in</p>
<p> Contact Number:9881735801</p>
<p> 601, Rama Apartment, Walwekar Nagar, Pune Satara Road, Pune</p>

